.App{
    min-height: 100vh;
    background: #f5f5f5;

   .sections{
       height: calc(100vh - 70px);
       position: relative;
       top: 70px;
       scrollbar-width: none;
       
       &::-webkit-scrollbar{
          display: none;
       }

       > *{
          min-height: calc(100vh - 70px);
       }
   }
}